.wrapper {
  width: 80%;
  height: 350px;
  border-radius: 6px;
  overflow: hidden;
}

.videoWrapper {
  display: flex;
  flex-direction: column;
}

.chatWrapper {
  height: 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.chat {
  overflow: scroll;
  overscroll-behavior: contain;
  width: 100%;
  height: 100%;
  gap: 16px;
  padding: 12px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column-reverse;
  background-color:  #212121;
}

.chat p {
  padding: 0;
  line-height: 1.4rem;
  width: fit-content;
}

.bubble {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.reply {
  max-width: 80%;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: unset;
  background-color:  #1f1f1f;
  padding: 10px;
}

.form input {
  width: -webkit-fill-available;
  height: 42px;
  font-size: 1rem;
  padding: 0 12px;

}

.form input::placeholder {
  color: var(--gray-6)
}

.form button {
  cursor: pointer;
  height: 42px;
  font-size: 1rem;
  padding: 0 12px;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top .4s ease-in-out;
}

.pill {
  height: 36px;
  padding: 0 16px;
  background: var(--gray-10);
  min-width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 42px;
}

.icon {
  font-size: 1.5rem;
  margin-top: -4px;
}

.notSupported {
  align-self: center;
  font-style: italic;
}

.fallback {
  font-style: italic;
  font-size: .85rem;
  text-align: center;
}

@media (max-width: 650px) {
  .wrapper {
    width: 100%;
    height: initial;
  }
  
  .chatWrapper{
    height: 500px;
    margin-bottom: 40px;
  }

  .videoWrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 4rem;
  }
}
