.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.person {
  background-color: #8C391B;
}

.ai {
  background-color: #D97925;
}
