.section {
  margin-top: 5rem;
  height: 70vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
}

.title {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-areas: 
    "a1 a1 a2 a3 a4 a5"
    "b1 b2 b3 b3 a4 a5"
    "b1 c2 b3 b3 c5 c5"
    "d1 d2 d3 d4 d4 d5";
  gap: .1rem;
}

.box:nth-child(1) {
  grid-area: a1;
}

.box:nth-child(2) {
  grid-area: a2;
}

.box:nth-child(3) {
  grid-area: a3;
}

.box:nth-child(4) {
  grid-area: a4;
}

.box:nth-child(5) {
  grid-area: a5;
}

.box:nth-child(6) {
  grid-area: b1;
}

.box:nth-child(7) {
  grid-area: b2;
}

.box:nth-child(8) {
  grid-area: b3;
}

.box:nth-child(9) {
  grid-area: c2;
}

.box:nth-child(10) {
  grid-area: c5;
}

.box:nth-child(11) {
  grid-area: d1;
}

.box:nth-child(12) {
  grid-area: d2;
}

.box:nth-child(13) {
  grid-area: d3;
}

.box:nth-child(14) {
  grid-area: d4;
}

.box:nth-child(15) {
  grid-area: d5;
}

.box {
  background-color: #0f190f;
  min-height: 200px;
}

