.section {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 15rem;
  /* height: 70vh; */
  width: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.title {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  align-self: flex-end;
}

.content {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.article {
  font-size: 24px;
  width: 600px;
  font-weight: 300;
  line-height: 2rem;
  text-align: right;
}

@media (max-width: 650px) {
  .section {
    height: initial;
  }

  .content {
    flex-direction: column;
  }

  .article {
    font-size: 24px;
    width: 100%;
  }

  .title {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    align-self: flex-start;
  }
}
