.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.content {
  max-width: 1440px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.titleWrapper {
  width: 600px;
  height: 600px;
}

.title {
  position: absolute;
  font-size: 5rem;
  width: 50rem;
  top: 20%;
  cursor: default;
  user-select: none;
  z-index: 1;
}

.image {
  filter: grayscale(.95);
  min-width: 600px;
  min-height: 600px;
}

@media (max-width: 1024px) {
  .image {
    display: none;
  }

  .hero {
    height: max-content;
  }

  .titleWrapper {
    width: initial;
    height: initial;
  }

  .title {
    position: static;
    font-size: 3rem;
    top: initial;
    width: initial;
  }
}
