.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84px;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.list a {
  opacity: .8;
  font-weight: 600;
  font-size: 1.4rem;
}

.list a:hover {
  opacity: 1;
}

.active {
  color: var(--color-accent);
  font-weight: 600;
}

@media (max-width: 650px) {
  .nav {
    justify-content: start;
    gap: 22px;
  }
}
