.terminal {
  background-color: var(--black);
  width: 100%;
  height: 25vh;
  overflow: scroll;
  padding: 2rem;
  margin-top: .2rem;

  display: flex;
  flex-direction: column-reverse;
}

.terminal * {
  font-family: monospace;
}

.result {
  margin-bottom: 1rem;
}

.tag {
  padding: .2rem .5rem;
  font-weight: 600;
  margin-right: .4rem;
}

.pass {
  background-color: var(--color-success);
}

.fail {
  background-color: var(--color-error);
}

.errors {
  margin-top: 2rem;
}

.input {
  display: flex;
  gap: 4px;
}

.cursor {
  display: inline-block;
  background-color: #606060;
  vertical-align: top;
  width: 8px;
  height: 15px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
  border-radius: unset;
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
